<a href="https://colab.research.google.com/github/shreyakurani/Shreya_HDS_5230_07/blob/main/week_05_ipynb_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Obtaining the dataset

In [1]:
!wget "https://coronadatascraper.com/timeseries.csv.zip"

--2025-02-23 18:39:15--  https://coronadatascraper.com/timeseries.csv.zip
Resolving coronadatascraper.com (coronadatascraper.com)... 104.21.48.1, 104.21.112.1, 104.21.32.1, ...
Connecting to coronadatascraper.com (coronadatascraper.com)|104.21.48.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6569453 (6.3M) [application/zip]
Saving to: ‘timeseries.csv.zip’

timeseries.csv.zip  100%[===================>]   6.26M  19.8MB/s    in 0.3s

2025-02-23 18:39:16 (19.8 MB/s) - ‘timeseries.csv.zip’ saved [6569453/6569453]

# 2. Extracting the .csv file and loading it into a Dask dataframe

In [2]:
!unzip timeseries.csv.zip

Archive:  timeseries.csv.zip
  inflating: timeseries.csv

In [3]:
import dask.dataframe as dd
df = dd.read_csv('timeseries.csv') # This was consistently giving error so I changed the approach by manually specifying dtypes
dtypes = {
    'cases': 'float64',
    'county': 'object',
    'deaths': 'float64',
    'recovered': 'float64',
    'state': 'object'
}
df = dd.read_csv('timeseries.csv', dtype=dtypes)
print(df.head())

/usr/local/lib/python3.11/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

  locationID slug     name    level  city county state  country    lat  long  \
0    iso1:ad   ad  Andorra  country   NaN   <NA>  <NA>  Andorra  42.55  1.58
1    iso1:ad   ad  Andorra  country   NaN   <NA>  <NA>  Andorra  42.55  1.58
2    iso1:ad   ad  Andorra  country   NaN   <NA>  <NA>  Andorra  42.55  1.58
3    iso1:ad   ad  Andorra  country   NaN   <NA>  <NA>  Andorra  42.55  1.58
4    iso1:ad   ad  Andorra  country   NaN   <NA>  <NA>  Andorra  42.55  1.58

   ...  deaths  recovered active  tested  hospitalized  hospitalized_current  \
0  ...     0.0        0.0    NaN     NaN           NaN                   NaN
1  ...     0.0        0.0    NaN     NaN           NaN                   NaN
2  ...     0.0        0.0    NaN     NaN           NaN                   NaN
3  ...     0.0        0.0    NaN     NaN           NaN                   NaN
4  ...     0.0        0.0    NaN     NaN           NaN                   NaN

   discharged  icu  icu_current        date
0         NaN  NaN          NaN  2020-01-22
1         NaN  NaN          NaN  2020-01-23
2         NaN  NaN          NaN  2020-01-24
3         NaN  NaN          NaN  2020-01-25
4         NaN  NaN          NaN  2020-01-26

[5 rows x 24 columns]

# 3.1 Creating  new dataframe object with samples that correspond to states in US.

In [4]:
us_states_df = df[(df['country'] == 'United States') & (df['level'] == 'state')]
print(us_states_df.head())
print(us_states_df.columns)

                locationID       slug                   name  level  city  \
240069  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN
240070  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN
240071  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN
240072  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN
240073  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN

       county   state        country    lat    long  ...  deaths  recovered  \
240069   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN
240070   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN
240071   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN
240072   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN
240073   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN

       active  tested  hospitalized  hospitalized_current  discharged  icu  \
240069    NaN     NaN           NaN                   NaN         NaN  NaN
240070    NaN     NaN           NaN                   NaN         NaN  NaN
240071    NaN     NaN           NaN                   NaN         NaN  NaN
240072    NaN     NaN           NaN                   NaN         NaN  NaN
240073    NaN     NaN           NaN                   NaN         NaN  NaN

        icu_current        date
240069          NaN  2020-01-23
240070          NaN  2020-01-24
240071          NaN  2020-01-25
240072          NaN  2020-01-26
240073          NaN  2020-01-27

[5 rows x 24 columns]
Index(['locationID', 'slug', 'name', 'level', 'city', 'county', 'state',
       'country', 'lat', 'long', 'population', 'aggregate', 'tz', 'cases',
       'deaths', 'recovered', 'active', 'tested', 'hospitalized',
       'hospitalized_current', 'discharged', 'icu', 'icu_current', 'date'],
      dtype='object')

In [5]:
print(us_states_df['state'].compute().unique())

<ArrowStringArray>
[                      'Alaska',                      'Alabama',
                     'Arkansas',               'American Samoa',
                      'Arizona',                   'California',
                     'Colorado',                  'Connecticut',
             'Washington, D.C.',                     'Delaware',
                      'Florida',                      'Georgia',
                         'Guam',                       'Hawaii',
                         'Iowa',                        'Idaho',
                     'Illinois',                      'Indiana',
                       'Kansas',                     'Kentucky',
                    'Louisiana',                'Massachusetts',
                     'Maryland',                        'Maine',
                     'Michigan',                    'Minnesota',
                     'Missouri',     'Northern Mariana Islands',
                  'Mississippi',                      'Montana',
               'North Carolina',                 'North Dakota',
                     'Nebraska',                'New Hampshire',
                   'New Jersey',                   'New Mexico',
                       'Nevada',                     'New York',
                         'Ohio',                     'Oklahoma',
                       'Oregon',                 'Pennsylvania',
                  'Puerto Rico',                 'Rhode Island',
               'South Carolina',                 'South Dakota',
                    'Tennessee',                        'Texas',
                         'Utah',                     'Virginia',
 'United States Virgin Islands',                      'Vermont',
                   'Washington',                    'Wisconsin',
                'West Virginia',                      'Wyoming']
Length: 56, dtype: string

There are only 50 US States, here we have federal district (Washington, D.C.), and other US territories (American Samoa, Guam, Northern Mariana Islands, Puerto Rico, and the United States Virgin Islands). Which makes our state list 56.

In [6]:
states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
    'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
    'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
    'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
    'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
    'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
    'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
    'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
    'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
]

us_states_df = df[(df['country'] == 'United States') &
                  (df['level'] == 'state') &
                  (df['state'].isin(states))]
print(us_states_df['state'].compute().unique())
print(us_states_df.head())

<ArrowStringArray>
[        'Alaska',        'Alabama',       'Arkansas',        'Arizona',
     'California',       'Colorado',    'Connecticut',       'Delaware',
        'Florida',        'Georgia',         'Hawaii',           'Iowa',
          'Idaho',       'Illinois',        'Indiana',         'Kansas',
       'Kentucky',      'Louisiana',  'Massachusetts',       'Maryland',
          'Maine',       'Michigan',      'Minnesota',       'Missouri',
    'Mississippi',        'Montana', 'North Carolina',   'North Dakota',
       'Nebraska',  'New Hampshire',     'New Jersey',     'New Mexico',
         'Nevada',       'New York',           'Ohio',       'Oklahoma',
         'Oregon',   'Pennsylvania',   'Rhode Island', 'South Carolina',
   'South Dakota',      'Tennessee',          'Texas',           'Utah',
       'Virginia',        'Vermont',     'Washington',      'Wisconsin',
  'West Virginia',        'Wyoming']
Length: 50, dtype: string
                locationID       slug                   name  level  city  \
240069  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN
240070  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN
240071  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN
240072  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN
240073  iso1:us#iso2:us-ak  alaska-us  Alaska, United States  state   NaN

       county   state        country    lat    long  ...  deaths  recovered  \
240069   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN
240070   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN
240071   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN
240072   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN
240073   <NA>  Alaska  United States  64.24 -152.23  ...     NaN        NaN

       active  tested  hospitalized  hospitalized_current  discharged  icu  \
240069    NaN     NaN           NaN                   NaN         NaN  NaN
240070    NaN     NaN           NaN                   NaN         NaN  NaN
240071    NaN     NaN           NaN                   NaN         NaN  NaN
240072    NaN     NaN           NaN                   NaN         NaN  NaN
240073    NaN     NaN           NaN                   NaN         NaN  NaN

        icu_current        date
240069          NaN  2020-01-23
240070          NaN  2020-01-24
240071          NaN  2020-01-25
240072          NaN  2020-01-26
240073          NaN  2020-01-27

[5 rows x 24 columns]

# 3.2 Computing per-capita mortality

In [7]:
us_states_df['date'] = dd.to_datetime(us_states_df['date'])

filtered_df = us_states_df[(us_states_df['date'] >= '2020-01-01') & (us_states_df['date'] <= '2021-02-28')]

agg_df = filtered_df.groupby('state').agg({'deaths': 'sum', 'population': 'mean'}).reset_index()

agg_df['per_capita_mortality'] = agg_df['deaths'] / agg_df['population']

result_df = agg_df.sort_values(by='per_capita_mortality', ascending=False)

print(result_df.compute())

             state     deaths  population  per_capita_mortality
30      New Jersey  2418962.0   8882190.0              0.272338
33        New York  4402011.0  19453561.0              0.226283
6      Connecticut   691521.0   3565287.0              0.193959
18   Massachusetts  1316575.0   6892503.0              0.191016
38    Rhode Island   144884.0   1059361.0              0.136765
17       Louisiana   614872.0   4648794.0              0.132265
21        Michigan  1070947.0   9986857.0              0.107236
13        Illinois  1121626.0  12671821.0              0.088513
19        Maryland   517991.0   6045680.0              0.085680
24     Mississippi   251974.0   2976149.0              0.084664
37    Pennsylvania  1068206.0  12801989.0              0.083441
7         Delaware    74695.0    973764.0              0.076707
3          Arizona   469482.0   7278717.0              0.064501
9          Georgia   621536.0  10617423.0              0.058539
8          Florida  1084199.0  21477737.0              0.050480
39  South Carolina   248622.0   5148714.0              0.048288
5         Colorado   266021.0   5758736.0              0.046194
1          Alabama   221378.0   4903185.0              0.045150
32          Nevada   136219.0   3080156.0              0.044225
34            Ohio   514809.0  11689100.0              0.044042
31      New Mexico    90647.0   2096829.0              0.043231
22       Minnesota   238115.0   5639632.0              0.042222
11            Iowa   132172.0   3155070.0              0.041892
29   New Hampshire    56432.0   1359711.0              0.041503
44        Virginia   326836.0   8535519.0              0.038291
42           Texas  1055158.0  28995881.0              0.036390
4       California  1385579.0  39512223.0              0.035067
46      Washington   258725.0   7614893.0              0.033976
23        Missouri   190243.0   6137428.0              0.030997
26  North Carolina   296308.0  10488084.0              0.028252
16        Kentucky   118125.0   4467673.0              0.026440
2         Arkansas    79423.0   3017804.0              0.026318
41       Tennessee   173569.0   6829174.0              0.025416
28        Nebraska    47664.0   1934408.0              0.024640
47       Wisconsin   142679.0   5822434.0              0.024505
35        Oklahoma    92028.0   3956971.0              0.023257
27    North Dakota    17055.0    762062.0              0.022380
40    South Dakota    18932.0    884659.0              0.021400
14         Indiana   140755.0   6732219.0              0.020908
15          Kansas    56864.0   2913314.0              0.019519
12           Idaho    33334.0   1787065.0              0.018653
45         Vermont     9953.0    623989.0              0.015951
20           Maine    18359.0   1344212.0              0.013658
48   West Virginia    23817.0   1792147.0              0.013290
43            Utah    41444.0   3205958.0              0.012927
36          Oregon    50075.0   4217737.0              0.011872
25         Montana    10435.0   1068778.0              0.009763
49         Wyoming     4270.0    578759.0              0.007378
0           Alaska     4018.0    731545.0              0.005492
10          Hawaii     7111.0   1415872.0              0.005022

# 3.3 Calculating CFR using WHO Scientific Brief

## Assumptions Made
- Cumulative Reporting: We assume that the daily reported 'cases' and 'deaths' columns are cumulative counts.
- End-of-Month Totals: We assume that taking the maximum value within a month accurately represents the cumulative totals at the end of that month.
- Resolved Cases: We assume that by the end of each month, the majority of cases are resolved, allowing the ratio of deaths to cases to serve as an approximation for the CFR.
- Consistent Detection: We assume that the detection and reporting practices are sufficiently consistent over the time period, despite known biases early in the outbreak.

In [8]:
filtered_df['year_month'] = filtered_df['date'].dt.to_period('M')

monthly_agg = filtered_df.groupby(['state', 'year_month']).agg({'cases': 'max', 'deaths': 'max'}).reset_index()

monthly_agg['CFR'] = monthly_agg['deaths'] / monthly_agg['cases']

monthly_pd = monthly_agg.compute()

cfr_pivot = monthly_pd.pivot(index='state', columns='year_month', values='CFR')

cfr_pivot

year_month,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10
state,,,,,,,,,,
Alabama,NaN,NaN,0.013252,0.038325,0.035245,0.024970,0.018011,0.017309,0.016419,0.016022
Alaska,NaN,NaN,0.025210,0.025352,0.023041,0.014894,0.006255,0.006041,0.007157,0.006734
Arizona,NaN,NaN,0.018619,0.041841,0.045445,0.020602,0.021229,0.024921,0.025857,0.025815
Arkansas,NaN,NaN,0.015296,0.018740,0.018337,0.012995,0.010656,0.013018,0.016357,0.016550
California,NaN,NaN,0.021279,0.040429,0.037282,0.026362,0.018412,0.018280,0.019393,0.019355
Colorado,NaN,NaN,0.019414,0.051904,0.045253,0.046384,0.039281,0.033883,0.029086,0.028144
Connecticut,NaN,NaN,0.022059,0.081480,0.093458,0.092918,0.088978,0.084438,0.081990,0.079869
Delaware,NaN,NaN,0.037618,0.044360,0.049274,0.044361,0.039559,0.034712,0.033264,0.034012
Florida,NaN,NaN,0.012149,0.038290,0.045119,0.023643,0.014548,0.017943,0.020264,0.020368
Georgia,NaN,NaN,0.028251,0.042822,0.043460,0.034506,0.020134,0.020823,0.022077,0.022217
Hawaii,NaN,NaN,0.004902,0.026101,0.026275,0.020000,0.012452,0.007458,0.010907,0.012168
Idaho,NaN,NaN,0.016867,0.030242,0.028883,0.015821,0.008742,0.011266,0.011199,0.010956
Illinois,NaN,NaN,0.016517,0.044503,0.044820,0.049391,0.041911,0.034150,0.029574,0.029026
Indiana,NaN,NaN,0.022696,0.062461,0.062878,0.053144,0.053144,0.053144,0.053144,0.053144
Iowa,NaN,NaN,0.014085,0.022673,0.027312,0.024649,0.019447,0.017623,0.015154,0.014975
Kansas,NaN,NaN,0.021028,0.030439,0.021401,0.018694,0.012872,0.010467,0.011331,0.011289
Kentucky,NaN,NaN,0.022917,0.051774,0.044415,0.036162,0.025024,0.019502,0.017481,0.016726
Louisiana,NaN,NaN,0.045637,0.066498,0.067291,0.053585,0.032981,0.032302,0.032048,0.032021
Maine,NaN,NaN,0.016502,0.048402,0.038280,0.032278,0.031442,0.029165,0.026164,0.025517
Maryland,NaN,NaN,0.025904,0.056389,0.049187,0.047218,0.039538,0.034689,0.031662,0.030996
Massachusetts,NaN,NaN,0.023463,0.057262,0.070603,0.074347,0.073198,0.070488,0.072637,0.073796
Michigan,NaN,NaN,0.029538,0.093338,0.091524,0.087561,0.071212,0.059748,0.051376,0.050073
Minnesota,NaN,NaN,0.013100,0.042262,0.039891,0.040658,0.030112,0.024597,0.021072,0.020382
Mississippi,NaN,NaN,0.021345,0.038298,0.047352,0.039380,0.028308,0.029813,0.030230,0.029914
Missouri,NaN,NaN,0.010550,0.043507,0.058721,0.047098,0.024700,0.018064,0.016328,0.016163
Montana,NaN,NaN,0.021739,0.035320,0.033010,0.022751,0.015132,0.014014,0.013771,0.012511
Nebraska,NaN,NaN,0.017442,0.017970,0.012226,0.014127,0.012730,0.011514,0.010491,0.010423
Nevada,NaN,NaN,0.033243,0.053822,0.051670,0.027471,0.017260,0.018851,0.020005,0.019688
New Hampshire,NaN,NaN,0.009554,0.032132,0.053245,0.063715,0.063417,0.059381,0.053109,0.051152
New Jersey,NaN,NaN,0.019523,0.073046,0.083630,0.087087,0.086563,0.083080,0.078113,0.068886
New Mexico,NaN,NaN,0.014235,0.034858,0.046039,0.041145,0.031146,0.030455,0.029794,0.029185
New York,NaN,NaN,0.020450,0.060193,0.064474,0.063171,0.060600,0.058258,0.072067,0.071349
North Carolina,NaN,NaN,0.005340,0.035969,0.030991,0.020767,0.015752,0.016150,0.016769,0.016552
North Dakota,NaN,NaN,0.023810,0.017807,0.018626,0.021812,0.015922,0.012102,0.011261,0.011492
Ohio,NaN,NaN,0.025011,0.054086,0.060682,0.055282,0.038274,0.033599,0.031197,0.030826
Oklahoma,NaN,NaN,0.040708,0.061360,0.051337,0.028131,0.014827,0.013640,0.011827,0.011425
Oregon,NaN,NaN,0.026087,0.041036,0.036059,0.023914,0.017413,0.017183,0.016682,0.016320
Pennsylvania,NaN,NaN,0.013008,0.050084,0.076572,0.076773,0.064160,0.057251,0.049543,0.048533
Rhode Island,NaN,NaN,0.014085,0.029503,0.047905,0.056176,0.052939,0.047747,0.045014,0.044101
South Carolina,NaN,NaN,0.020314,0.040033,0.041649,0.020303,0.019232,0.022859,0.022833,0.022713
South Dakota,NaN,NaN,0.009259,0.006942,0.012417,0.013454,0.014833,0.012362,0.009960,0.010082
Tennessee,NaN,NaN,0.010272,0.018537,0.015822,0.013882,0.010004,0.011321,0.012745,0.012979
Texas,NaN,NaN,0.012554,0.027842,0.026008,0.015151,0.015605,0.020451,0.020719,0.020693
Utah,NaN,NaN,0.005637,0.009846,0.011534,0.007742,0.007563,0.007811,0.006284,0.006123
Vermont,NaN,NaN,0.040625,0.055745,0.056065,0.046358,0.040311,0.035714,0.033105,0.031921
Virginia,NaN,NaN,0.021600,0.034835,0.030825,0.028079,0.024186,0.021394,0.021636,0.021484
Washington,NaN,0.277778,0.037703,0.051284,0.048868,0.036222,0.026088,0.025632,0.024291,0.023904
West Virginia,NaN,NaN,0.006173,0.036673,0.037313,0.032014,0.017465,0.020878,0.022085,0.021493
Wisconsin,NaN,NaN,0.010095,0.039245,0.028788,0.024762,0.016528,0.014025,0.010853,0.010278
Wyoming,NaN,NaN,0.000000,0.012868,0.017719,0.013450,0.009538,0.009630,0.008406,0.007995

As you can see that we do not have any data after 2020-10. Moving ahead with that.

# 3.4 Using the matrix as input, computing the states ranking on how CFR rate changed over time
## Assumptions Made
- CFR Calculation: We assume that the provided CFR matrix was computed by taking the cumulative deaths divided by cumulative cases (using end-of-month values).
- Month-to-Month Change: The change in CFR for a month is defined as the difference between that month’s CFR and the previous month’s CFR.
- Aggregation:
    - When summing the raw differences (net change), the overall value reflects the change from the first to the last month.
    - When summing the absolute differences (total change), the value captures the total magnitude of changes (volatility) without canceling out increases and decreases.
- Ranking Purpose: Depending on whether you care about net trends or overall volatility, you can choose either ranking metric.

In [9]:
monthly_diff = cfr_pivot.diff(axis=1)

net_change = monthly_diff.sum(axis=1)

total_change = monthly_diff.abs().sum(axis=1)

ranking_net = net_change.sort_values(ascending=False)

ranking_total = total_change.sort_values(ascending=False)

print("Ranking by net change (final minus initial CFR):")
print(ranking_net)

print("\n\n\n\n")

print("Ranking by total change (sum of absolute month-to-month changes):")
print(ranking_total)

Ranking by net change (final minus initial CFR):
state
Connecticut       0.057810
New York          0.050899
Massachusetts     0.050333
New Jersey        0.049363
New Hampshire     0.041598
Pennsylvania      0.035525
Indiana           0.030448
Rhode Island      0.030016
Michigan          0.020535
West Virginia     0.015320
New Mexico        0.014950
Illinois          0.012510
North Carolina    0.011212
Maine             0.009015
Colorado          0.008730
Mississippi       0.008569
Florida           0.008219
Texas             0.008140
Wyoming           0.007995
Minnesota         0.007281
Hawaii            0.007267
Arizona           0.007196
Ohio              0.005814
Missouri          0.005613
Maryland          0.005092
Alabama           0.002771
Tennessee         0.002706
South Carolina    0.002399
Arkansas          0.001254
Iowa              0.000890
South Dakota      0.000823
Utah              0.000486
Wisconsin         0.000184
Virginia         -0.000116
California       -0.001924
Delaware         -0.003605
Idaho            -0.005911
Georgia          -0.006034
Kentucky         -0.006191
Nebraska         -0.007019
Vermont          -0.008704
Montana          -0.009229
Kansas           -0.009739
Oregon           -0.009767
North Dakota     -0.012317
Nevada           -0.013556
Louisiana        -0.013615
Alaska           -0.018476
Oklahoma         -0.029283
Washington       -0.253873
dtype: float64





Ranking by total change (sum of absolute month-to-month changes):
state
Washington        0.281034
Michigan          0.107064
Pennsylvania      0.092004
Missouri          0.090728
New Jersey        0.085766
Connecticut       0.084987
Oklahoma          0.070587
Florida           0.069361
New Hampshire     0.066724
Ohio              0.065527
New York          0.064767
Kentucky          0.063904
Nevada            0.060202
Colorado          0.058514
Wisconsin         0.058117
Massachusetts     0.058051
Arizona           0.056967
Louisiana         0.056924
West Virginia     0.056202
Maryland          0.055878
Maine             0.054785
Rhode Island      0.054168
Illinois          0.053239
Minnesota         0.052577
North Carolina    0.052080
Indiana           0.049917
New Mexico        0.048658
South Carolina    0.047524
Alabama           0.047375
Mississippi       0.047289
Hawaii            0.044900
California        0.042450
Georgia           0.040617
Oregon            0.039665
Vermont           0.039585
Idaho             0.037707
Montana           0.036390
Texas             0.033572
Kansas            0.030290
Delaware          0.028414
Wyoming           0.027627
Virginia          0.027070
Iowa              0.025564
Alaska            0.020993
North Dakota      0.020791
Tennessee         0.019774
Arkansas          0.017423
South Dakota      0.015204
Nebraska          0.011878
Utah              0.011804
dtype: float64

# Reasoning

### 1. Filtering and Grouping on the Full Timeseries Dataset
Working with a big COVID-19 dataset, which could have millions of rows, needs smart processing to make things faster and easier. A key step is changing the date column into a proper date format, picking only the dates needed, and then sorting the data by state and month to find total counts. Since the dataset is so large, using Dask is very helpful because it allows the computer to process parts of the data at the same time, using multiple cores or even several computers. This helps save memory and speeds up reading and writing data by handling smaller chunks at once. Even though working in parallel has some extra setup, the boost in speed and efficiency makes it a great choice for dealing with big amounts of data.


### 2. Aggregating to Compute CFR per Month
After organizing the COVID-19 data by finding the highest number of cases and deaths in each state per month, the next step is to reshape the data and figure out the case fatality rate (CFR). This process makes the dataset much smaller, usually into a simple table with about 50 rows and 10 columns. At first, using multiple computer cores helps speed up sorting the full dataset, but once it's smaller, a regular computer can handle it easily. So, switching to a Pandas DataFrame is a good idea because it removes extra computing steps and makes the data easier to work with quickly.


### 3. Computing Month-to-Month Differences and Aggregating Changes
To understand how COVID-19 cases changed in different states, a helpful step is to find the difference in cases from one month to the next using the `diff()` function. Then, we add up both the total changes and the absolute changes, and rank states based on these numbers. Since the dataset is small, with only 50 states over 14 months, these calculations are very quick. Simple tasks like finding differences, adding values, and sorting can be done instantly using Pandas. Because of this, using multiple computers or parallel processing isn’t needed—it would actually take longer to set up than just running everything on a regular computer.


### Overall Reasoning
When working with COVID-19 data, the way we process it depends on how big the dataset is. In the beginning, when we need to sort, change, and group large amounts of data, using a tool like Dask is helpful because it can split the work across multiple computers. This makes handling a huge dataset much easier. But once we shrink the data down to a smaller summary table, like a 50 × 10 chart for case fatality rates (CFR), we don’t need that extra power anymore. At this stage, using Pandas on a single computer is much faster and simpler because setting up a big system would just slow things down without giving any real benefits.